include header.pug
div
    form(action='/add-thread' method='post')
        | &#x4E3B;&#x9898;: 
        input(type='text' name='title')
        br
        |     &#x5185;&#x5BB9;: 
        textarea(name='content')
        br
        button &#x53D1;&#x5E03;&#x5E16;&#x5B50;